@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Mpj.Application.Extensions
@using Mpj.Application.Utils
@using Mpj.DataLayer.Enums
@using System.Reflection.Metadata
@model Mpj.DataLayer.DTOs.EmploymentForm.Admin.AdminEmploymentDTO
<div class="row">
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-lightred">
            <span class="widget-caption">
                <h4 class="h5 mt10 text-danger "> نمایش اطلاعات</h4>
            </span>
        </div>
    <div class="widget-body">
   
    @if (Model.Employment != null)
    {
        <div class="row text-right">
            <div class="col-md-12 m-top-18">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.NationCode"></label>
                        <label>:@Model.Employment.NationCode</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.Mobile"></label>
                        <label>:@Model.Employment.Mobile</label>
                    </div>
                </div>

            </div>
            <div class="col-md-4 imgPrfile">
                @if (Model.Employment.PersonalImage != null)
                {
                    <img src="@PathExtension.PersonalImageOrigin@Model.Employment.PersonalImage"
                         asp-append-version="true"/>
                }
            </div>

        </div>

        <fieldset class="border p-2">
            <legend class="w-auto fs-14">مشخصات شناسنامه ای</legend>
            <div class="row text-right">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.Name"></label>
                        <label>:@Model.Employment?.Name</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.Family"></label>
                        <label>:@Model.Employment?.Family</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.BirthCertificateId"></label>
                        <label>:@Model.Employment?.BirthCertificateId</label>
                    </div>
                </div>

            </div>
            <div class="row text-right">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.BrithDate"></label>
                        @{
                            if (Model.Employment.BrithDate != null)
                            {
                                <label>:@Model.Employment.BrithDate.Value.ToShamsiDate() </label>
                            }
                        }

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.FatherName"></label>
                        <label>:@Model.Employment?.FatherName</label>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.JobFather"></label>
                        <label>:@Model.Employment?.JobFather</label>
                    </div>
                </div>

            </div>
            <div class="row text-right">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.Religion"></label>
                        @if (Model.Employment.Religion != null)
                        {
                            var item = ((Religion)(byte)Model.Employment.Religion).GetDisplayName();
                            <label>:@item</label>

                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.Sect"></label>
                        @{
                            var selectitem = ((Sect)(byte)Model.Employment.Religion);
                            if (selectitem == 0)
                            {
                                var item = ((Sect)(byte)Model.Employment.Sect).GetDisplayName();
                                <label>:@item</label>
                            }
                            else
                            {
                                <label>:- </label>
                            }

                        }

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.Gender"></label>
                        @{
                            var gender = ((Gender)(byte)Model.Employment.Gender).GetDisplayName();
                        }
                        <label>:@gender</label>
                    </div>
                </div>
            </div>
            <div class="row text-right">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.ProvinceId"></label>
                        <label>:@Model.Employment.Province.ProvinceName</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.CityId"></label>
                        <label>:@Model.Employment.City.CityName</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.MaritalStatus"></label>
                        @{
                            var marital = ((MaritalStatus)((byte)(Model.Employment.MaritalStatus??0))).GetDisplayName();
                        }
                        <label>:@marital</label>
                    </div>
                </div>

            </div>
            <div class="row text-right">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.ProvinceOfIssueId"></label>
                        <label>:@Model.Employment.ProvinceOfIssue.ProvinceName</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.CityOfIssueCityId"></label>
                        <label>:@Model.Employment.CityOfIssueCity.CityName</label>
                    </div>
                </div>
                <div class="col-md-4">
                </div>

            </div>


        </fieldset>
        @* <fieldset class="border p-2">
            <legend class="w-auto fs-14">تحت تکفل</legend>
            <div class="row text-right">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.SponsorshipStatus"></label>
                        @{
                            var sponsorshipStatus = ((SponsorshipStatus)(byte)Model.Employment.SponsorshipStatus).GetDisplayName();
                        }
                        <label>:@sponsorshipStatus</label>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.SponsorshipCount"></label>
                        @if ((SponsorshipStatus)(byte)Model.Employment.SponsorshipStatus == SponsorshipStatus.Have)
                        {
                            <label>:@Model.Employment?.SponsorshipCount</label>
                        }
                        else
                        {
                            <label>:0</label>
                        }

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.ChildrenCount"></label>
                        <label>:@Model.Employment?.ChildrenCount</label>
                    </div>
                </div>
            </div>
            <div class="row text-right">
                <div class="col-md-4">
                    <label asp-for="Employment.SpouseJob"></label>
                    <label>:@Model.Employment?.SpouseJob</label>
                </div>
                <div class="col-md-4">
                    <label asp-for="Employment.SpouseMobile"></label>
                    <label>:@Model.Employment?.SpouseMobile</label>

                </div>
            </div>
        </fieldset> *@
        <fieldset class="border p-2">
            <legend class="w-auto fs-14">مشخصات نظام وظیفه</legend>
            <div class="row text-right">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.MilitaryServiceStatus"></label>
                        @{
                            var militaryStatus = ((MilitaryServiceStatus)(byte)Model.Employment.MilitaryServiceStatus).GetDisplayName();
                        }
                        <label>:@militaryStatus</label>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @if ((MilitaryServiceStatus)Model.Employment.MilitaryServiceStatus == MilitaryServiceStatus.TheEndOfService)
                        {
                            <label asp-for="Employment.PlaceOfServiceOrgan"></label>
                            <label>:@Model.Employment.PlaceOfServiceOrgan</label>
                        }
                        else
                        {
                            <label asp-for="Employment.ExemptionReason"></label>
                            <label>:@Model.Employment.ExemptionReason</label>


                        }

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @if ((MilitaryServiceStatus)Model.Employment.MilitaryServiceStatus != MilitaryServiceStatus.TheEndOfService)
                        {
                            <label asp-for="Employment.ExemptionCode"></label>
                            <label>:@Model.Employment.ExemptionCode</label>
                        }

                    </div>
                </div>
            </div>
            <div class="row text-right">
                <div class="col-md-4">
                    @if ((MilitaryServiceStatus)Model.Employment.MilitaryServiceStatus == MilitaryServiceStatus.TheEndOfService)
                    {
                        <label asp-for="Employment.MilitaryStartDate"></label>

                        var msd = "";
                        if (Model.Employment.MilitaryStartDate != null)
                        {
                            msd = ((DateTime)Model.Employment.MilitaryStartDate).ToShamsiDate();
                        }

                        <label>:@msd</label>



                    }

                </div>
                <div class="col-md-4">
                    @if ((MilitaryServiceStatus)Model.Employment.MilitaryServiceStatus == MilitaryServiceStatus.TheEndOfService)
                    {
                        <label asp-for="Employment.CardReceiptDate"></label>
                        var crd = "";
                        if (Model.Employment.CardReceiptDate != null)
                        {
                            crd = ((DateTime)Model.Employment.CardReceiptDate).ToShamsiDate();
                        }

                        <label>:@crd</label>
                    }

                </div>
            </div>
        </fieldset>
        <fieldset class="border p-2">
            <legend class="w-auto fs-14">مشخصات جسمانی</legend>
            <div class="row text-right">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.Height"></label>
                        <label>:@Model.Employment.Height</label>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.Weight"></label>
                        <label>:@Model.Employment.Weight</label>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.UseOfGlasses"></label>
                        @if ((bool)Model.Employment.UseOfGlasses)
                        {
                            <label>: بله </label>
                        }
                        else
                        {

                            <label>: خیر </label>
                        }
                    </div>
                </div>
            </div>
            <div class="row text-right">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.PhysicalCondition"></label>
                        @{
                            var physicalCondition = ((PhysicalCondition)(byte)Model.Employment.PhysicalCondition).GetDisplayName();
                        }
                        <label>:@physicalCondition</label>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @if ((PhysicalCondition)Model.Employment.PhysicalCondition == PhysicalCondition.PhysicallyDisabled)
                        {
                            <label asp-for="Employment.DescriptionOfPhysicalCondition"></label>
                            <label>:@Model.Employment.DescriptionOfPhysicalCondition</label>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @if ((bool)Model.Employment.UseOfGlasses)
                        {
                            <label asp-for="Employment.TotalNumberOfEyes"></label>
                            <label>:@Model.Employment.TotalNumberOfEyes</label>
                        }
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row text-right">
            <div class="col-md-4">
                <fieldset class="border p-2">
                    <legend class="w-auto fs-14">سابقه بیمه</legend>
                    <div class="row text-right">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Employment.InsuranceHistoryYear"></label>
                                <label>:@Model.Employment.InsuranceHistoryYear</label>

                            </div>
                        </div>


                    </div>
                    <div class="row text-right">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Employment.InsuranceHistoryMonth"></label>
                                <label>:@Model.Employment.InsuranceHistoryMonth</label>

                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-8">
                <fieldset class="border p-2">
                    <legend class="w-auto fs-14">اطلاعات تکمیلی</legend>
                    <div class="row text-right">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Employment.HasEmploymentHistory"></label>
                                @{
                                    var hase = ((YesORNo)((byte)(Model.Employment.HasEmploymentHistory == true ? 1 : 0))).GetDisplayName();
                                }
                                <label>:@hase</label>

                            </div>
                        </div>

                    </div>
                    <div class="row text-right">
                        @if ((bool)Model.Employment.HasEmploymentHistory == true)
                        {
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Employment.PlaceOfWork"></label>
                                    <label>:@Model.Employment.PlaceOfWork</label>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Employment.PersonalCode"></label>
                                    <label>:@Model.Employment.PersonalCode</label>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row text-right">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Employment.DrivingLicences"></label>
                                @{
                                    var lstItem = "";
                                    var lst = Model.Employment.DrivingLicences.Split(',');
                                    foreach (var drive in lst)
                                    {
                                        switch ((DrivingLicences)Int32.Parse(drive))
                                        {
                                            case DrivingLicences.Forklift:
                                                lstItem += DrivingLicences.Forklift.GetDisplayName() + " ، ";
                                                break;
                                            case DrivingLicences.Crane:
                                                lstItem += DrivingLicences.Crane.GetDisplayName() + " ، ";
                                                break;
                                            case DrivingLicences.Tractor:
                                                lstItem += DrivingLicences.Tractor.GetDisplayName() + " ، ";
                                                break;
                                            case DrivingLicences.BaseOne:
                                                lstItem += DrivingLicences.BaseOne.GetDisplayName() + " ، ";
                                                break;
                                            case DrivingLicences.BaseTwo:
                                                lstItem += DrivingLicences.BaseTwo.GetDisplayName() + " ، ";
                                                break;
                                            case DrivingLicences.BaseThree:
                                                lstItem += DrivingLicences.BaseThree.GetDisplayName() + " ، ";
                                                break;
                                            case DrivingLicences.Motorcycle:
                                                lstItem += DrivingLicences.Motorcycle.GetDisplayName() + " ، ";
                                                break;

                                        }
                                    }
                                }
                                @lstItem.Substring(0, @lstItem.Length - 2)
                                <label>: @lstItem</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Employment.EmploymentStatus"></label>
                                @{
                                    var empstatus = ((EmploymentStatus)(byte)Model.Employment.EmploymentStatus).GetDisplayName();
                                }

                                <label>:@empstatus</label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Employment.ProposedSalary"></label>
                                @{
                                    var salary = (long)Model.Employment.ProposedSalary;
                                }
                                <label>:@salary.ToRial() ریال </label>

                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
        </div>
        <fieldset class="border p-2">
            <legend class="w-auto fs-14">آدرس محل سکونت</legend>
            <div class="row text-right">
                <div class="col-md-4">
                    <label asp-for="Employment.ResidenceProvinceId"></label>
                    <label>@Model.Employment.ResidenceProvince.ProvinceName</label>
                </div>
                <div class="col-md-4">

                    <label asp-for="Employment.ResidenceCityId"></label>
                    <label>@Model.Employment.ResidenceCity.CityName</label>

                </div>
                <div class="col-md-4">

                    <label asp-for="Employment.ResidencePostalCode"></label>
                    <label>:@Model.Employment.ResidencePostalCode</label>

                </div>
            </div>
            <div class="row text-right">
                <div class="col-md-12">
                    <label asp-for="Employment.Address"></label>
                    <label>:@Model.Employment.Address</label>
                </div>

            </div>
            <div class="row text-right">
                <div class="col-md-4">
                    <label asp-for="Employment.ResidencePeriodByYear"></label>
                    <label>:@Model.Employment.ResidencePeriodByYear</label>
                </div>
                <div class="col-md-4">
                    <label asp-for="Employment.ResidencePeriodByMonth"></label>
                    <label>:@Model.Employment.ResidencePeriodByMonth</label>
                </div>
                <div class="col-md-4">

                    <label asp-for="Employment.ResidencePhone"></label>
                    <label>:@Model.Employment.ResidencePhone</label>

                </div>
            </div>
        </fieldset>
        <fieldset class="border p-2">
            <legend class="w-auto fs-14">آشنایان</legend>

            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th scope="col">نام ونام خانوادگی</th>
                    <th scope="col">سمت</th>
                    <th scope="col">موبایل</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @Model.Employment.FirstFamiliarFullName
                    </td>
                    <td>
                        @Model.Employment.FirstFamiliarJob
                    </td>
                    <td>
                        @Model.Employment.FirstFamiliarMobile
                    </td>
                </tr>
                <tr>
                    <td>
                        @Model.Employment.SecondFamiliarFullName
                    </td>
                    <td>
                        @Model.Employment.SecondFamiliarJob
                    </td>
                    <td>
                        @Model.Employment.SecondFamiliarMobile
                    </td>
                </tr>
                <tr>
                    <td>
                        @Model.Employment.AccessiblePersonFullName
                    </td>
                    <td>
                        @Model.Employment.AccessiblePersonJob
                    </td>
                    <td>
                        @Model.Employment.AccessiblePersonMobile
                    </td>
                </tr>
                <tr>
                    <td>
                        @Model.Employment.RepresentativeFullName
                    </td>
                    <td>
                        @Model.Employment.RepresentativeJob
                    </td>
                    <td>
                        @Model.Employment.RepresentativeMobile
                    </td>
                </tr>
                </tbody>
            </table>

        </fieldset>
        <fieldset class="border p-2">
            <legend class="w-auto fs-14">سایر</legend>

            <div class="row text-right">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.AbilityToWorkInShifts"></label>

                        @if (Model.Employment.AbilityToWorkInShifts == null)
                        {
                            <label>: خیر</label>
                        }
                        else
                        {
                            <label>: بله</label>
                        }


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.AbilityToTravelAsAMission"></label>
                        @if (Model.Employment.AbilityToTravelAsAMission == null)
                        {
                            <label>: خیر</label>
                        }
                        else
                        {
                            <label>:بله </label>
                        }

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.AbilityToTravelAsAMission"></label>
                        @if (Model.Employment.AbilityToWorkInClericalJobs == null)
                        {
                            <label>: خیر</label>

                        }
                        else
                        {
                            <label>: بله</label>
                        }
                    </div>
                </div>
            </div>
            <div class="row text-right">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.AbilityTitle"></label>
                        <label>: @Model.Employment.AbilityTitle</label>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.HavingAnAccident"></label>
                        @if (Model.Employment.HavingAnAccident == null)
                        {
                            <label>:خیر </label>
                        }
                        else
                        {
                            <label>: @Model.Employment.DescriptionOfAccident</label>

                        }

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Employment.Entertainments"></label>
                        <label>: @Model.Employment.Entertainments</label>

                    </div>
                </div>
            </div>
            <div class="row text-right">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Employment.Ideas"></label>
                        <label>: @Model.Employment.Ideas</label>

                    </div>
                </div>

            </div>

        </fieldset>

    }
    </div>
    </div>
</div>
