@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@using Mpj.Application.Extensions
@using Mpj.Application.Utils
@using Mpj.DataLayer.Enums
@model Mpj.DataLayer.DTOs.EmploymentForm.Admin.AdminEmploymentDTO
@{
    ViewData["Title"] = "مدیریت اطلاعات استخدامی ";
    var lstItem = "";
}
@section styles
{

    <link rel="stylesheet" type="text/css" href="~/lib/persianDatepicker-master/css/persianDatepicker-default.css">


}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="widget">
                    <div class="widget-header bordered-left bordered-darkorange">
                        <span class="widget-caption">جستجوی اطلاعات</span>
                    </div>
                    <div class="widget-body bordered-left bordered-warning">
                        <form class="form-inline" asp-area="Admin" asp-controller="Employment" asp-action="Employments" method="get" id="filter-form" role="form">
                            <input type="hidden" id="PageId" asp-for="@Model.filterEmployment.PageId" />
                            <div class="form-group">
                                <label class="sr-only" asp-for="filterEmployment.TrackingCode">کدرهگیری </label>
                                <input type="text" class="form-control" value="" autocomplete="off" asp-for="filterEmployment.TrackingCode" placeholder="کد رهگیری ">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="filterEmployment.NationCode">کد ملی </label>
                                <input class="form-control" value="" autocomplete="off" asp-for="filterEmployment.NationCode" placeholder="کد ملی ">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="filterEmployment.BrithDate">تاریخ تولد </label>
                                <input type="text" class="form-control" id="fBrithDate" asp-for="filterEmployment.BrithDate" placeholder="تاریخ تولد ">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="filterEmployment.CreateDate">تاریخ ثبت نام </label>
                                <input type="text" class="form-control" id="fCreateDate" asp-for="filterEmployment.CreateDate" placeholder="تاریخ ثبت نام ">

                            </div>
                            <div class="form-group">


                                <div class="custom-select-general">
                                    <select id="fDegreeOfEducation" asp-for="filterEmployment.DegreeOfEducations" asp-items="Html.GetEnumSelectList<DegreeOfEducation>()">
                                        <option selected="selected" value="">انتخاب کنید</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">


                                <div class="custom-select-general">
                                    <select id="fDrivingLicences" asp-for="filterEmployment.DrivingLicences" asp-items="Html.GetEnumSelectList<DrivingLicences>()">
                                        <option selected="selected" value="">انتخاب کنید</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">جستجو</button>
                            <a asp-area="Admin" asp-controller="Employment" asp-action="Employments" title="بروزرسانی" class="btn btn-warning  btn-circle btn-xs"><i class="glyphicon glyphicon-refresh"></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
          
            @if (Model.filterEmployment != null && Model.filterEmployment.EmploymentInfos.Any())
            {
                <table class="table custom-table">
                    <thead class="bordered-darkorange">
                        <tr>
                            <th>
                                کد ملی
                            </th>
                            <th>
                                موبایل
                            </th>
                            <th>
                                نام و نام خانوادگی
                            </th>
                            <th>
                                کد رهگیری
                            </th>
                            <th>
                                تاریخ تولد
                            </th>
                            <th>
                                تاریخ ثبت نام
                            </th>
                            <th>
                                نام پدر
                            </th>
                            <th>
                                گواهینامه رانندگی
                            </th>
                            <th>
                                مدرک تحصیلی
                            </th>
                            <th>
                                دستورات
                            </th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.filterEmployment.EmploymentInfos)
                        {
                            <tr id="ajax-url-item-@item.Id">
                                <td>
                                    @item.NationCode
                                </td>
                                <td>
                                    @item.Mobile
                                </td>
                                <td>
                                    @item.Name @item.Family
                                </td>
                                <td>
                                    @item.TrackingCode
                                </td>
                                <td>
                                    @item.BrithDate?.ToShamsiDate()
                                </td>
                                <td>
                                    @item.CreateDate.ToShamsiDate()
                                </td>
                                <td>
                                    @item.FatherName
                                </td>
                                <td>
                                    @{

                                        var lst = item.DrivingLicences.Split(',');
                                        foreach (var drive in lst)
                                        {
                                            switch ((DrivingLicences)Int32.Parse(drive))
                                            {
                                                case DrivingLicences.Forklift:
                                                    lstItem += DrivingLicences.Forklift.GetDisplayName() + " ، ";
                                                    break;
                                                case DrivingLicences.Crane:
                                                    lstItem += DrivingLicences.Crane.GetDisplayName() + " ، ";
                                                    break;
                                                case DrivingLicences.Tractor:
                                                    lstItem += DrivingLicences.Tractor.GetDisplayName() + " ، ";
                                                    break;
                                                case DrivingLicences.BaseOne:
                                                    lstItem += DrivingLicences.BaseOne.GetDisplayName() + " ، ";
                                                    break;
                                                case DrivingLicences.BaseTwo:
                                                    lstItem += DrivingLicences.BaseTwo.GetDisplayName() + " ، ";
                                                    break;
                                                case DrivingLicences.BaseThree:
                                                    lstItem += DrivingLicences.BaseThree.GetDisplayName() + " ، ";
                                                    break;
                                                case DrivingLicences.Motorcycle:
                                                    lstItem += DrivingLicences.Motorcycle.GetDisplayName() + " ، ";
                                                    break;

                                            }
                                        }


                                    }

                                    @lstItem.Substring(0, @lstItem.Length - 2)
                                    @{
                                        lstItem = "";
                                    }
                                </td>
                                <td>
                                    @{
                                        var degree = "";
                                        foreach (var edu in @item.EducationalRecodes)
                                        {
                                            degree += @edu.DegreeOfEducation.GetDisplayName() + " , ";
                                        }
                                    }
                                    @if (degree.Length > 0)
                                    {
                                        @degree.Substring(0,@degree.Length-2)
                                    }
                                    else
                                    {
                                        @degree                                        
                                    }

                                </td>
                                <td>
                                    <a class="btn btn-success modalLink fa fa-comment-o" data-id="@item.Id" id="InsertComment" title="ثبت توضیحات" data-toggle="modal" data-target="#desModal"></a>
                                    <a class="btn btn-purple fa fa-info" id="showDetail" data-id="@item.Id" title="مشاهده جزئیات" asp-controller="Employment" asp-action="ShowEdu" asp-route-id="@item.Id"></a>
                                    <a class="btn btn-info fa fa-file-pdf-o" id="showDetail" data-id="@item.Id" title="خروجی فایلpdf" asp-controller="Employment" asp-action="PrintReport" asp-route-id="@item.Id"></a>
                                    </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <partial name="_NoItemFound" />
            }
            @if (Model.filterEmployment != null)
            {
                <div class="footer">
                    <partial name="_AdminPagingPartial" model="@Model.filterEmployment.GetCurrentPaging()" />
                </div>
            }
        </div>

    </div>
</div>
@if (Model.Employment != null && Model.Employment.EducationalRecodes != null)
{
    <partial name="_ShowEducationPartial" model="@Model" />
}
@if (Model.Employment != null && Model.Employment.WorkExperiences != null)
{
    <partial name="_ShowWorkPartial" model="@Model" />
}
@if (Model.Employment != null)
{
    <partial name="_ShowDetailPartial" model="@Model" />
}
<form class="form-inline" asp-area="Admin" asp-controller="Employment" asp-action="InsertDescription" method="post" id="filter-form" role="form">
<div class="modal fade" id="desModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ثبت توضیحات</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" style="width:100%" rows="3" asp-for="Description" ></textarea>
                    @Html.Hidden("id", "", new { @class = "hiddenid" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                @* <a class="btn btn-primary"  title="ثبت توضیحات" asp-area="Admin" asp-controller="Employment" asp-action="InsertDescription">ثبت توضیحات</a> *@
                    <button type="submit" class="btn btn-primary">ثبت توضیحات</button>
            </div>
        </div>
    </div>
</div>
</form>



@section scripts
{

    <script>
        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            $(".modal-body .hiddenid").val(passedID);
            
        });
        $(function () {

            $("#fBrithDate").persianDatepicker(
                {
                    alwaysShow: false,
                    cellWidth: 46,
                    cellHeight: 40,
                    fontSize: 18
                }
            );

            $("#fCreateDate").persianDatepicker(
                {
                    alwaysShow: false,
                    cellWidth: 46,
                    cellHeight: 40,
                    fontSize: 18
                }
            );


        });
    </script>
}